<div class="recipes-page">

  <h1>
    📖 Recetario Cat Café
  </h1>

  <!-- BUSCADOR -->
  <section class="search-section">

    <input type="text" placeholder="🔍 Buscar receta..." [(ngModel)]="searchText">

  </section>


  <!-- FILTROS -->
  <section class="category-filter">

    <button (click)="selectedCategory = 'Todos'">
      Todos
    </button>

    <button (click)="selectedCategory = 'Cupcakes'">
      🧁 Cupcakes
    </button>

    <button (click)="selectedCategory = 'Pasteles'">
      🎂 Pasteles
    </button>

    <button (click)="selectedCategory = 'Bebidas'">
      ☕ Bebidas
    </button>

  </section>

  <div class="recipes-container">

    <div class="recipe-card" *ngFor="
  let recipe of
  getFilteredRecipes()
">

      <!-- IMAGEN -->
      <div class="recipe-image">

        <img [src]="recipe.image" [alt]="recipe.name">

      </div>


      <!-- INFO -->
      <div class="recipe-info">

        <h2>
          {{ recipe.name }}
        </h2>


        <p class="recipe-description">

          {{ recipe.description }}

        </p>


        <!-- INGREDIENTES -->
        <div class="recipe-section">

          <h3>
            🥣 Ingredientes
          </h3>

          <p>
            {{ recipe.ingredients }}
          </p>

        </div>


        <!-- PREPARACION -->
        <div class="recipe-section">

          <h3>
            👩‍🍳 Preparación
          </h3>

          <p>
            {{ recipe.instructions }}
          </p>

        </div>

      </div>

    </div>

  </div>

</div>
