<div class="app-container" [class.dark]="darkMode">

  <!-- DASHBOARD -->
  <section class="stats-dashboard" *ngIf="isAdmin">

    <div class="stat-card">

      💰

      <h3>
        ${{ totalSales }}
      </h3>

      <p>
        Ventas
      </p>

    </div>


    <div class="stat-card">

      📦

      <h3>
        {{ totalOrders }}
      </h3>

      <p>
        Pedidos
      </p>

    </div>


    <div class="stat-card">

      🧁

      <h3>
        {{ totalProductsSold }}
      </h3>

      <p>
        Vendidos
      </p>

    </div>

  </section>

  <!-- ADMIN PRODUCTOS -->
  <section class="admin-panel" *ngIf="isAdmin">

    <h2>
      🧁 Administrar Productos
    </h2>

    <input type="text" placeholder="Nombre" [(ngModel)]="newProduct.name">

    <select [(ngModel)]="newProduct.category">

      <option value="Cupcakes">
        🧁 Cupcakes
      </option>

      <option value="Pasteles">
        🎂 Pasteles
      </option>

      <option value="Bebidas">
        ☕ Bebidas
      </option>

    </select>

    <input type="text" placeholder="Descripción" [(ngModel)]="newProduct.description">

    <input type="number" placeholder="Precio" [(ngModel)]="newProduct.price">

    <input type="text" placeholder="Ingredientes" [(ngModel)]="newProduct.ingredients">

    <input type="text" placeholder="Preparación" [(ngModel)]="newProduct.instructions">

    <input type="text" placeholder="URL imagen" [(ngModel)]="newProduct.image">

    <button (click)="saveProduct()">

      {{

      editingId

      ? 'Actualizar Producto'

      : 'Crear Producto'

      }}

    </button>

  </section>


  <!-- PEDIDOS -->
  <section class="orders-section" *ngIf="orders.length > 0">

    <!-- HEADER DESPLEGABLE -->
    <div class="orders-header" (click)="showOrders = !showOrders">

      <h2>

        {{

        isAdmin

        ? '📦 Todos los Pedidos'

        : '📦 Mis Pedidos'

        }}

      </h2>


      <span>

        {{

        showOrders

        ? '▲'

        : '▼'

        }}

      </span>

    </div>


    <!-- CONTENIDO -->
    <div *ngIf="showOrders">

      <!-- FILTRO SOLO ADMIN -->
      <div class="order-filter" *ngIf="isAdmin">

        <select class="orders-filter-select" [(ngModel)]="selectedOrderStatus">

          <option value="todos">
            📦 Todos
          </option>

          <option value="pendiente">
            🟡 Pendiente
          </option>

          <option value="preparando">
            🟠 Preparando
          </option>

          <option value="entregado">
            🟢 Entregado
          </option>

        </select>

      </div>


      <!-- CARDS -->
      <div class="orders-grid">

        <div class="order-card" *ngFor="
          let order of
          getFilteredOrders()
        ">

          <p>

            <strong>
              Total:
            </strong>

            ${{ order.total }}

          </p>


          <p>

            <strong>
              Estado:
            </strong>

          </p>


          <!-- ADMIN -->
          <select *ngIf="isAdmin" [ngModel]="
            order.estado
          " (ngModelChange)="

            changeOrderStatus(

              order._id,

              $event

            )

          ">

            <option value="pendiente">
              🟡 Pendiente
            </option>

            <option value="preparando">
              🟠 Preparando
            </option>

            <option value="entregado">
              🟢 Entregado
            </option>

          </select>


          <!-- CLIENTE -->
          <p *ngIf="!isAdmin">

            {{

            order.estado ===
            'pendiente'

            ? '🟡 Pendiente'

            : order.estado ===
            'preparando'

            ? '🟠 Preparando'

            : '🟢 Entregado'

            }}

          </p>


          <p>

            <strong>
              Fecha:
            </strong>

            {{
            order.fecha
            | date:'short'
            }}

          </p>


          <div *ngFor="
            let product of
            order.productos
          ">

            •

            {{ product.name }}

            x

            {{ product.quantity }}

          </div>

          <hr>

          <hr>

          <button *ngIf="isAdmin" class="delete-order-btn" (click)="
    deleteOrder(
      order._id
    )
  ">

            🗑 Eliminar Pedido

          </button>

        </div>

      </div>

    </div>

  </section>
  <!-- HERO -->
  <section class="hero">

    <h2 class="hero-title">
      Bienvenido a Cat Café 🐱
    </h2>

    <p class="hero-subtitle">
      Los cupcakes más deliciosos con recetas para hacer en casa
    </p>

  </section>


  <!-- CARRUSEL -->
  <section class="carousel-section" *ngIf="products.length > 0">

    <button class="carousel-nav" (click)="prevSlide()">
      ❮
    </button>


    <div class="carousel-track">

      <div class="carousel-card" *ngFor="
          let product of visibleProducts
        ">

        <img [src]="product.image" [alt]="product.name">

        <h3>
          {{ product.name }}
        </h3>

        <p>
          {{ product.description }}
        </p>

        <span>
          ${{ product.price }}
        </span>

        <button (click)="addToCart(product)">
          Comprar
        </button>

      </div>

    </div>


    <button class="carousel-nav" (click)="nextSlide()">
      ❯
    </button>

  </section>


  <!-- CATÁLOGO -->
  <section class="catalog-divider">

    <span>
      ✨
    </span>

    <h2 class="catalog-title">
      Nuestro Catálogo
    </h2>

    <span>
      🧁
    </span>

  </section>


  <section class="search-section">

    <input type="text" placeholder="🔍 Buscar cupcake..." [(ngModel)]="searchText">

  </section>


  <section class="category-filter">

    <button (click)="selectedCategory = 'Todos'">
      Todos
    </button>

    <button (click)="selectedCategory = 'Cupcakes'">
      🧁 Cupcakes
    </button>

    <button (click)="selectedCategory = 'Pasteles'">
      🎂 Pasteles
    </button>

    <button (click)="selectedCategory = 'Bebidas'">
      ☕ Bebidas
    </button>

  </section>


  <!-- PRODUCTOS -->
  <section class="products-grid">

    <div class="product-card" *ngFor="
        let product of getFilteredProducts()
      ">

      <img [src]="product.image" [alt]="product.name">

      <h4>
        {{ product.name }}
      </h4>

      <p>
        {{ product.description }}
      </p>

      <span>
        ${{ product.price }}
      </span>


      <div class="buttons">

        <button (click)="addToCart(product)">
          Comprar
        </button>

      </div>


      <div class="admin-buttons">

        <button *ngIf="isAdmin" (click)="editProduct(product)">
          📝 Editar
        </button>

        <button *ngIf="isAdmin" (click)="deleteProduct(product._id)">
          🗑 Eliminar
        </button>

      </div>

    </div>

  </section>

  <!-- MODAL CARRITO -->
  <div class="modal" *ngIf="showCart">

    <div class="modal-content">

      <button class="close" (click)="showCart = false">
        ✖
      </button>

      <h3>
        Mi Carrito 🛒
      </h3>


      <div *ngFor="
          let item of cart
        " class="cart-item">

        <img [src]="item.image" [alt]="item.name">

        <div>

          <h4>
            {{ item.name }}
          </h4>

          <p>
            Cantidad:
            {{ item.quantity }}
          </p>

          <p>
            ${{ item.price * item.quantity }}
          </p>

          <button class="delete-btn" (click)="removeFromCart(item._id)">
            🗑 Eliminar
          </button>

        </div>

      </div>


      <h4>

        Total:

        ${{ getTotalPrice() }}

      </h4>


      <button class="checkout" (click)="finalizarCompra()">

        Finalizar Compra

      </button>

    </div>

  </div>


  <!-- TOAST -->
  <div class="toast" *ngIf="showToast">

    {{ toastMessage }}

  </div>


  <!-- FOOTER -->
  <app-footer></app-footer>

</div>
