<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Pastry Shop</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>

<div class="layout">

  <!-- Productos -->
  <div class="container">

    <div class="card">
      <img src="https://images.slurrp.com/prod/articles/ts80f4yae3.webp">
      <p class="title">Croissant</p>
      <p class="price">$3.50</p>
      <button class="btn">Agregar</button>
    </div>

    <div class="card">
      <img src="https://www.cardamomo.news/__export/1683322601977/sites/debate/img/2023/05/05/glaseado_para_mini_donas.png_242310155.png">
      <p class="title">Donut</p>
      <p class="price">$2.00</p>
      <button class="btn">Agregar</button>
    </div>

    <div class="card">
      <img src="https://img.freepik.com/foto-gratis/delicioso-arreglo-cupcakes_23-2150873139.jpg">
      <p class="title">Cupcake</p>
      <p class="price">$2.50</p>
      <button class="btn">Agregar</button>
    </div>

  </div>

  <!-- Carrito -->
  <div class="cart">
    <h2>🛒 Carrito</h2>
    <p>Croissant - $3.50</p>
    <p>Donut - $2.00</p>
    <hr>
    <p class="total">Total: $5.50</p>
  </div>

</div>

</body>
</html>
