.navigation {
  display: flex;

  justify-content: center;

  gap: 20px;

  padding: 1rem 0;
}

.navigation a {
  text-decoration: none;

  padding: 12px 24px;

  border-radius: 16px;

  font-weight: 700;

  color: #334155;

  background: rgba(255,255,255,0.8);

  transition: all 0.3s ease;
}

.navigation a:hover {
  transform: translateY(-3px);

  background: #0ea5e9;

  color: white;
}

.active-link {
  background: #c084fc !important;

  color: white !important;
}

/* Dark mode */
:host-context(.dark) .navigation a {
  background: #334155;

  color: white;
}
